<html>
	<head>
		<title>Info Raspberry Pi</title>
	</head>
	<body style='background-color: #626262;'>
		
			<h3><a href="#">Date and time</a></h3>
			<pre>{{date}}</pre>
			<h3><a href="#">Uptime:</a></h3>
			<pre>{{uptime}}</pre>
			<h3><a href="#">CPU:</a></h3>
			<pre>{{cpu}}</pre>
			<h3><a href="#">RAM:</a></h3>
			<pre>{{ram}}</pre>
			<h3><a href="#">Temperature:</a></h3>
			<pre>{{temperature}}</pre>
			<h3><a href="#">Partitions:</a></h3>
			<pre>{{partitions}}</pre>
			<h3><a href="#">Last 5 SSH Login:</a></h3>
			<pre>{{last_ssh}}</pre>
			<h3><a href="#">USB:</a></h3>
			<pre>{{usb}}</pre>
			<h3><a href="#">Network Interfaces:</a></h3>
			<pre>{{network}}</pre>
			<h3><a href="#">Wifi Scan:</a></h3>
			<pre>{{wifi}}</pre>
			
	</body>
</html>
